
<nav
  class="navbar navbar-expand-sm navbar-light bg-light border-bottom mb-4 fixed-top px-5"
>
  <div class="container-fluid px-5">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-solid fa-compass-drafting"></i
    ></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/listings">Listings</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/listings/new">Add Listing</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
