<% layout("./layout/boilerplate.ejs") -%>
  <div class="mb-5  container", style="margin-top: 100px;">
    <!-- <div class="card shadow"> -->
      <div class="card-body">
        <h3 class="card-title mb-4 text-center">Create New Listing</h3>

        <form action="/listings?method=POST" novalidate class="needs-validation"  method="POST">
          <!-- Title -->
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input
              type="text"
              name="title"
              class="form-control"
              placeholder="Enter title"
              required
            />
            <div class="invalid-feedback">
              Please enter a valid Title
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea
              name="description"
              class="form-control"
              rows="3"
              placeholder="Enter description"
            ></textarea>
                        <div class="invalid-feedback">
              Please enter a valid Description
            </div>
          </div>

          <!-- Image URL -->
          <div class="mb-3">
            <label class="form-label">Image URL</label>
            <input
              type="text"
              name="image"
              class="form-control"
              placeholder="https://example.com/image.jpg"
              required
            />
                        <div class="invalid-feedback">
              Please enter Image URL
            </div>
          </div>

          <!-- Price -->
          <div class="mb-3">
            <label class="form-label">Price</label>
            <input
              
              name="price"
              class="form-control"
              placeholder="Enter price"
              required
            />            <div class="invalid-feedback">
              Please enter a valid Price
            </div>
          </div>

          <!-- Location -->
          <div class="mb-3">
            <label class="form-label">Location</label>
            <input
              type="text"
              name="location"
              class="form-control"
              placeholder="City / Place"
              required
            />            <div class="invalid-feedback">
              Please provide a valid location
            </div>
          </div>

          <!-- Country -->
          <div class="mb-3">
            <label class="form-label">Country</label>
            <input
              type="text"
              name="country"
              class="form-control"
              placeholder="Country"
              required
            />            <div class="invalid-feedback">
              Please entery Country name
            </div>
          </div>

          <!-- Submit -->
          <div class="d-grid">
            <button  class="add btn btn-primary">Add Listing</button>
          </div>
        </form>
      </div>
    </div>
