<% layout("./layout/boilerplate.ejs") -%>
<div class="mb-5 container" style="max-width: 700px; margin-top: 0px">
  <!-- <div class="card shadow"> -->
  <div class="card-body">
    <h3 class="card-title mb-4 text-center">Create New Listing</h3>

    <form
      action="/listings?method=POST"
      novalidate
      class="needs-validation"
      method="POST"
      enctype="multipart/form-data"
    >
      <!-- Title -->
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input
          type="text"
          name="title"
          class="form-control"
          placeholder="Enter title"
          required
        />
        <div class="invalid-feedback">Please enter a valid Title</div>
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea
          name="description"
          class="form-control"
          rows="3"
          placeholder="Enter description"
        ></textarea>
        <div class="invalid-feedback">Please enter a valid Description</div>
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          name="image"
          type="file"
          class="form-control"
          id="image"
          required
        />
        <div class="invalid-feedback">Please upload an image</div>
      </div>

      <!-- Price -->
      <div class="mb-3">
        <label class="form-label">Price</label>
        <input
          name="price"
          type="number"
          class="form-control"
          placeholder="Enter price"
          required
        />
        <div class="invalid-feedback">Please enter a valid Price</div>
      </div>

      <!-- Location -->
      <div class="mb-3">
        <label class="form-label">Location</label>
        <input
          type="text"
          name="location"
          class="form-control"
          placeholder="City / Place"
          required
        />
        <div class="invalid-feedback">Please provide a valid location</div>
      </div>

      <!-- Country -->
      <div class="mb-3">
        <label class="form-label">Country</label>
        <input
          type="text"
          name="country"
          class="form-control"
          placeholder="Country"
          required
        />
        <div class="invalid-feedback">Please entery Country name</div>
      </div>

      <!-- Submit -->
      <div class="d-grid">
        <button class="add btn btn-primary">Add Listing</button>
      </div>
    </form>
  </div>
</div>
