body {
    displey: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}
.navbar {
    height:5rem;
}

.fa-compass-drafting {
    color: red;
    font-size: 2rem;
}

.nav-link{
    color: darkblue;
    font-weight: bold; 
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
    color: blue;
}
/* .btn-primary{
    background-color: red;
    border: 5px rgb(255, 0, 0) solid;
    font-weight: bold;
} */

.f-info{
    height: 8rem;
    background-color: slategray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.f-info-social{
    /* width: 100%; */
    font-size: 1.2rem;
}

.f-info-social i{
    margin: 0 1rem;
    color: rgb(40, 0, 172);
}
.card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}
.card{
    border-radius: 1rem;
}

.add {
    background-color: rgba(255, 0, 0, 0.66);
    font-weight: bold;
    color: black;
    border: white 3px solid;
}
